@use "assets/scss/config/variables" as var;

.InputBox {
  display: flex;
  .input-icon {
    width: 20px;
    height: 20px;
    margin: {
      right: 10px;
    }
    padding: {
      top: 1px;
    }
    svg {
      color: var.$GRAY800;
    }
  }
  .input-input {
    font-size: 15px;
    width: 100%;
    &::placeholder {
      color: var.$GRAY400;
    }
  }
  .input-button {
    width: 20px;
    height: 20px;
    margin: {
      right: 10px;
    }
    padding: {
      top: 1px;
    }
    svg {
      color: var.$GRAY800;
    }
  }
}
