@use "assets/scss/config/variables" as var;

.Toast {
  position: fixed;
  bottom: 50px;
  left: 5vw;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.55);
  width: 90vw;
  color: white;
  font-size: 12px;
  text-align: center;
  padding: 8px;
  opacity: 0;
  transition: 0.1s;
  &.active {
    opacity: 1;
  }
}
