@use "assets/scss/config/variables" as var;

.HeaderModal {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  .modal-scroll {
    padding: {
      top: calc(15px + env(safe-area-inset-top));
      bottom: 15px;
    }
    background: var.$WHITE000;
    border-radius: 0 0 10px 10px;
  }
}
