@use "assets/scss/config/variables" as var;

.TopBar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  .IconButton {
    position: absolute;
    top: calc(17px + env(safe-area-inset-top));
    &.HamburgerIconButton {
      left: 16px;
    }
    &.TagIconButton {
      right: 50px;
      transition: 0.2s;
      &.tagged {
        svg {
          fill: var.$GRAY400;
        }
      }
    }
    &.OptionIconButton {
      right: 16px;
    }
  }
}
