@use "assets/scss/config/variables" as var;

.PlusButton {
  position: fixed;
  bottom: calc(100px + env(safe-area-inset-bottom));
  @media (min-width: 100vw) {
    right: calc(50vw - 50vh + 20px);
  }

  @media (max-width: 100vh) {
    right: 20px;
  }
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: var.$GRAY100;
  border: 2px solid var.$GRAY700;
  color: var.$GRAY700;
  // transition: 0.05s;
  &:active {
    background: var.$GRAY400;
  }
  .PlusMark {
    width: 25px;
    height: 25px;
    // background: pink;
    margin: 16px;
    position: relative;
    * {
      display: block;
      position: absolute;
      background: var.$GRAY700;
    }
    .vertical {
      width: 3px;
      height: 100%;
      top: 0;
      left: 11px;
    }
    .horizontal {
      width: 100%;
      height: 3px;
      top: 11px;
      left: 0;
    }
  }
}
